
/Library
/Temp
/Logs
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker2-prev.log
Logs/AssetImportWorker3-prev.log
Logs/AssetImportWorker4-prev.log
Logs/AssetImportWorker5-prev.log
Logs/AssetImportWorker6-prev.log
Logs/AssetImportWorker7-prev.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe10.log
Logs/shadercompiler-UnityShaderCompiler.exe11.log
Logs/shadercompiler-UnityShaderCompiler.exe12.log
Logs/shadercompiler-UnityShaderCompiler.exe13.log
Logs/shadercompiler-UnityShaderCompiler.exe14.log
Logs/shadercompiler-UnityShaderCompiler.exe15.log
Logs/shadercompiler-UnityShaderCompiler.exe16.log
Logs/shadercompiler-UnityShaderCompiler.exe17.log
Logs/shadercompiler-UnityShaderCompiler.exe18.log
Logs/shadercompiler-UnityShaderCompiler.exe19.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
Logs/shadercompiler-UnityShaderCompiler.exe9.log
/Assets/ERP
Assets/ERP.meta
